.acc111AccordionParent {
    width: 100%;
    border-left: 1px solid rgb(188, 188, 188);
}

.acc112AccordionButton {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
    background-color: var(--grey-background);
}

.acc112AccordionButton:hover {
    background-color: rgb(188, 188, 188);
}

.acc114AccordionChild {
    padding: 0px 0px 0px 10px;
}