ul.brd117Breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.brd117Breadcrumb li {
  display: inline;
  font-size: 22px;
}

ul.brd117Breadcrumb li + li:before {
  padding: 8px;
  color: black;
}

ul.brd117Breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.brd117Breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.brd119MakeLight {
    color: grey;
}

.brd118NavigateBack {
    border: 1px grey solid;
    padding: 5px;
    margin-right: 30px;
    border-radius: 100px;
}

.no-pointer-events {
  pointer-events: none;
}

.disable {
  opacity: 0.3;
  cursor: default;
}