.fsc160FolderScreenParent {
  height: 100vh;
  width: 100%;
}

.fsc161SearchBar {
  position: absolute;
  padding: 10px 16px;
  top: 16px;
  right: 16px;
  z-index: 100;
}

.fsc162Scrollable {
  height: 90vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .fsc160FolderScreenParent {
        margin-left: 10px;
        display: flex;
    }

    .fsc162Scrollable {
        margin-top: 100px;
    }

    .fsc163BottomSpace {
        height: 1200px;
        width: 100px;
    }

    .fsc162Scrollable {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      
    .fsc162Scrollable::-webkit-scrollbar{
        display: none;
    }
}
