.cuf190FolderScreenParent {
    height: 100vh;
    width: 100%;
  }
  
  .cuf191SearchBar {
    position: absolute;
    padding: 10px 16px;
    top: 16px;
    right: 16px;
    z-index: 100;
  }
  
  .cuf192Scrollable {
    height: 90vh;
    overflow-y: scroll;
  }
  
  @media only screen and (max-width: 600px) {
      .cuf190FolderScreenParent {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  
      .cuf192Scrollable {
          margin-top: 100px;
          width: 100vh;
      }
  
      .cuf193BottomSpace {
          height: 1200px;
          width: 100px;
      }
  
      .cuf192Scrollable {
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
        }
        
      .cuf192Scrollable::-webkit-scrollbar{
          display: none;
      }
  }
  
  .cuf194Loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .cuf195LoaderParent {
    display: flex;
    flex: 1;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
  
  .cuf196LoadImages {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .cuf197LoadImagesParent {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .cuf198Error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .cuf199DisplayNone {
    display: none;
  }