.mnu128MenuParent {
  box-shadow: var(--box-shadow);
  width: max-content;
  border-radius: 8px;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.mnu129MenuElement {
padding: 10px 30px 12px 15px;
}

.mnu129MenuElement:hover {
    background-color: var(--theme-color);
    cursor: pointer;
}

.mnu130Element1:hover {
    border-radius: 8px 8px 0 0;
}

.mnu131Delete {
    color: red;
}

.delete:hover {
    background-color: red;
    color: white;
    border-radius: 0 0 8px 8px;
}