.create-folder-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-folder-input, .create-folder-button {
    width: 180px;
    margin: 8px;
    padding: 5px;
}

.create-folder-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--theme-color);
    color: white;
}

.create-folder-button:active {
    transform: scale(1.1);
}