.cnf120MenuParent {
    box-shadow: var(--box-shadow);
    width: max-content;
    border-radius: 8px;
    position: absolute;
    background-color: white;
    z-index: 1;
  }
  
.cnf121MenuElement {
  padding: 10px 30px 12px 15px;
  }
  
  .cnf121MenuElement:hover {
      background-color: var(--theme-color);
      color: white;
      cursor: pointer;
  }
  
  .cnf122MenuElement1:hover {
      border-radius: 8px;
  }